{% block footer %}
<!-- Footer -->
<footer class="w3-container w3-theme w3-padding-16">
  <p>Sharpe Digital Solutions
    <i class="fa fa-facebook-official w3-hover-opacity w3-right w3-padding"></i>
    <i class="fa fa-instagram w3-hover-opacity w3-right w3-padding"></i>
    <i class="fa fa-snapchat w3-hover-opacity w3-right w3-padding"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity w3-right w3-padding"></i>
    <i class="fa fa-twitter w3-hover-opacity w3-right w3-padding"></i>
    <i class="fa fa-linkedin w3-hover-opacity w3-right w3-padding"></i>
  </p>
</footer>
{% endblock %}
