{% extends "base/base.html" %}

{% block content %}

    <section class="w3-padding-32 w3-white w3-display-container w3-center">

        <h1 class="w3-center w3-padding w3-text-teal"> Randomly generated numbers for {{ body }}</h1>
        <br>
        {% for num in sorted_random_nums %}
            <span class="w3-badge w3-xlarge w3-red w3-padding">{{ num }}</span>
        {% endfor %}

        <p>
        <h3>Main Number Total: <span class="w3-badge w3-xlarge w3-blue w3-padding"> {{ tot_main_num }}</span></h3>
        </p>
        <p>
        <h3>Main Number Average: <span class="w3-badge w3-xlarge w3-green w3-padding">{{ avg_main_nums }}</span></h3>
        </p>

        <p class="w3-center w3-padding-16">
            <small> No guarantees these numbers will win any prize, but feel free to try them on the next draw.</small>
            <br>
            <small> You can use the number total and average to check against the below previous draws for
                analysis.</small>
            <br>
            <small> Just refresh page to generate a new set of numbers</small>
        </p>
        <form action="{{ url_for('lottery.lottoIndex') }}" method="POST">
            <p class="w3-center">
                <button class="w3-button w3-section w3-teal w3-ripple" type="submit"> Return to Index Page </button>
            </p>
        </form>
    </section>

    <section class="w3-padding-32 w3-responsive w3-display-container w3-centered w3-hide-small">
        <h1 class="w3-center w3-padding w3-text-teal"> Previous draw history for {{ body }}</h1>
        <br>

        <table class="w3-table-all w3-center w3-border-teal">
            <tr>
                <th>Draw Date</th>
                <th>Ball 1</th>
                <th>Ball 2</th>
                <th>Ball 3</th>
                <th>Ball 4</th>
                <th>Ball 5</th>
                <th>Ball 6</th>
                <th>Total</th>
                <th>Average</th>
                <th>Bonus Ball</th>
                <th>Ball Set</th>
                <th>Machine</th>
            </tr>
            {% for item in lottery_data %}
                <tr>
                    <td>{{ item._id }}</td>
                    <td>{{ item.Ball1 }}</td>
                    <td>{{ item.Ball2 }}</td>
                    <td>{{ item.Ball3 }}</td>
                    <td>{{ item.Ball4 }}</td>
                    <td>{{ item.Ball5 }}</td>
                    <td>{{ item.Ball6 }}</td>
                    <td>{{ item.Total }}</td>
                    <td>{{ item.Average }}</td>
                    <td>{{ item.Bonus_Ball }}</td>
                    <td>{{ item.Ball_Set }}</td>
                    <td>{{ item.Machine }}</td>
                </tr>
            {% endfor %}

        </table>
    </section>

{% endblock %}
